<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações da conexão -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/db_prisma</property>
		<property name="connection.username">root</property>
		<property name="connection.password">branco3265</property>

		<!--Pool de conexões JDBC -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento da sessão -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Exibe Comandos SQL -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="br.com.prisma.domain.Usuario" />
		<mapping class="br.com.prisma.domain.Agentes" />
		<mapping class="br.com.prisma.domain.Avaliacao" />
		<mapping class="br.com.prisma.domain.Clientes" />
		<mapping class="br.com.prisma.domain.Orcamento" />
		<mapping class="br.com.prisma.domain.OrdemServicos" />
		<mapping class="br.com.prisma.domain.Servicos" />

	</session-factory>

</hibernate-configuration>